/* Element specific classes */
* {box-sizing: border-box;}

body {
    margin: 0;
    background-color: aqua;
    height: 100%;
    width: 100%;    
}

#ball {
    background-color:coral;
    width: 10vh;
    height: 10vh;
    top: 75%;
    left: 0%;
    border-radius: 50%;
}

#bottom {
    background-color: burlywood;
    height: 15%;
    width: 100%;
    bottom: 0;
}
