* {box-sizing: border-box;}

body {margin: 0; overflow: hidden;}

@font-face {
    font-family: pixelfont;
    src: url(./assets/pixelfont.ttf);
}

@font-face {
    font-family: candy-beans;
    src: url(./assets/Candy\ Beans.otf);
}

@font-face {
    font-family: catcafe;
    src: url(./assets/CatCafe.ttf);
}
#canvas1 {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 12;
} 

main, #img-container {
    overflow: hidden;
    position:absolute;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#arrow-right-container {
    position: absolute;
    z-index: 13;
    bottom: 5%;
    right: 5%;
    padding: 1rem;
    cursor: pointer;
    display: none;

}

#arrow-right{
    width: calc(100vw / 8);
    height: auto;
}

#arrow-left-container {
    position: absolute;
    z-index: 13;
    bottom: 5%;
    left: 5%;
    padding: 1rem;
    cursor: pointer;
    display: none;
}

#arrow-left{
    width: calc(100vw / 8);
    height: auto;
    transform: rotate(180deg);
}

#myCharacterContainer {
    position: absolute;
    bottom: 10%;
    left: 70%;
    z-index: 13;
    height: calc(100vh / 3);
    width: auto;
    
}

#myCharacter{
    height: 100%;
    width: auto;
    -webkit-transform: scaleX(-1);
     transform: scaleX(-1);
     cursor: pointer;
}


#speechBubbleContainer {
    height: 100%;
    width: 200%;
    left: -200%;
    top: -35%;
    position: absolute;
    
}

#speechBubble {
    background-image: url(./assets/speech-bubble2.png);
    transform: scaleX(-1);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 80%;
    position: relative;
}

#speechBubbleText {
    font-family: pixelfont;
    position: absolute;
    top: 0%;
    left: 5%;
    width: 65%;
    transform: scaleX(-1);
}

#text-container {
    position: absolute;
    text-align: center;
    background-image: url(./assets/wooden-sign-background.png);
    background-size: 100%;
    border: 3px solid #7b5339 ;
    height: auto;
    width: max-content;
    padding: 1rem;
    top: 5%;
    left: 100%;
    z-index: 10;
    border-radius: 2rem;    
}

.inner-content {
    display: inline-block;
    justify-content: center;
    font-family: candy-beans;
    color: rgb(255, 245, 231);
}
.inner-content h2 {
   color: #7b5339;
}

.inner-content p {
    font-size: 1.2rem;
    margin: 0.1rem;
    padding-top: 1rem;
    padding-bottom: 0.1rem;
    margin-left: 4.5rem;
    margin-right: 3rem;
    color: rgb(66, 50, 50);
    transform: rotate(-1deg);
    font-family: catcafe;
}

.text-aboutme {
    text-align: left;
    background-image: url(./assets/note2.png);
    background-size: 110% 120%;
    background-repeat: no-repeat;
    background-position-y: -28px;
    background-position-x: -28px;
    margin-top: -30px;
}

#text-container2 {
    position: absolute;
    text-align: center;
    background-color:cornflowerblue;
    height: auto;
    width: calc(100vw - 60%);
    padding: 1rem;
    top: 10%;
    left: 150%;
    z-index: 10;
    border-radius: 2rem;

}

.sign-holder {
    position: absolute;
    top: -22%;
    left: 15%;
    background-color: #7b5339;
    height: 5rem;
    width: 1rem;
    border: 3px solid #7b5339;
    border-bottom: 0;
}

.sign-holder2 {
    position: absolute;
    top: -22%;
    right: 15%;
    background-color: #7b5339;
    height: 5rem;
    width: 1rem;
    border: 3px solid #7b5339;
    border-bottom: 0;
}


.flex {display: flex;}

.justify-center {justify-content: center;}
.align-center {align-items: center;}
.justify-start {justify-content: left;}

.justify-evenly {justify-content: space-evenly;}

#img1 {
    position: absolute;
    top: 10%;
    left: 100%;
    z-index: 10;
}
#img2 {
    position: absolute;
    top: 10%;
    left: 150%;
    z-index: 10;
}

#layer5 {
    position: absolute;
    bottom: 0;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: 10;
}
#layer5-2 {
    position: absolute;
    bottom: 0;
    left: 100%;
    height: 100%;
    width: 100%;
    z-index: 10;
}
#layer4 {
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: 9;
}
#layer4-2 {
    position: absolute;
    bottom: 0%;
    left: 100%;
    height: 100%;
    width: 100%;
    z-index: 9;
}
#layer3 {
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: 8;
}
#layer3-2 {
    position: absolute;
    bottom: 0%;
    left: 100%;
    height: 100%;
    width: 100%;
    z-index: 8;
}
#layer2 {
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: 7;
}
#layer2-2 {
    position: absolute;
    bottom: 0%;
    left: 100%;
    height: 100%;
    width: 100%;
    z-index: 7;
}
#layer1 {
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: 6;
}
#layer1-2 {
    position: absolute;
    bottom: 0%;
    left: 100%;
    height: 100%;
    width: 100%;
    z-index: 6;
}

@media (max-width: 1024px)  {
    #arrow-right-container, #arrow-left-container  {
        display: unset;
    }
}