* {box-sizing: border-box;}

body {margin: 0; overflow: hidden;}

@font-face {
    font-family: pixelfont;
    src: url(./assets/pixelfont.ttf);
}

#canvas1 {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
} 

main, #img-container {
    overflow: hidden;
    position:absolute;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#arrow-right-container {
    position: absolute;
    z-index: 11;
    bottom: 5%;
    right: 5%;
    padding: 1rem;
    cursor: pointer;
}

#arrow-right{
    width: calc(100vw / 8);
    height: auto;
}

#arrow-left-container {
    position: absolute;
    z-index: 11;
    bottom: 5%;
    left: 5%;
    padding: 1rem;
    cursor: pointer;
}

#arrow-left{
    width: calc(100vw / 8);
    height: auto;
    transform: rotate(180deg);
}

#myCharacterContainer {
    position: absolute;
    bottom: 10%;
    left: 70%;
    z-index: 10;
    height: 35%;
    width: auto;
}

#myCharacter{
    height: 100%;
    width: auto;
    -webkit-transform: scaleX(-1);
     transform: scaleX(-1);
}

#speechBubbleText {
    font-family: pixelfont;
    position: absolute;
    top: -40%;
    left: -140%;
    z-index: 11;
    width: 200%;
}

#speechBubble {
    left: -150%;
    top: -40%;
    position: absolute;
    height: calc(100vh /6.5);
    width: auto;
}


#text-container {
    position: absolute;
    text-align: center;
    background-color: blanchedalmond;
    border: 5px solid black;
    height: auto;
    width: calc(100vw - 60%);
    padding: 1rem;
    top: 10%;
    left: 100%;
    z-index: 10;
    border-radius: 2rem;
}

#text-container2 {
    position: absolute;
    text-align: center;
    background-color:cornflowerblue;
    height: auto;
    width: calc(100vw - 60%);
    padding: 1rem;
    top: 10%;
    left: 150%;
    z-index: 10;
    border-radius: 2rem;

}

.sign-holder {
    position: absolute;
    top: -26%;
    left: 15%;
    background-color: rgb(175, 194, 214);
    height: 5rem;
    width: 1rem;
    border: 3px solid black;
    border-bottom: 0;
}

.sign-holder2 {
    position: absolute;
    top: -26%;
    right: 15%;
    background-color: rgb(175, 194, 214);
    height: 5rem;
    width: 1rem;
    border: 3px solid black;
    border-bottom: 0;
}


#pictureMe {
    height: auto;
    width: 7rem;
    border-radius: 90%;
}

.flex {display: flex;}

.justify-center {justify-content: center;}

.justify-evenly {justify-content: space-evenly;}

#img1 {
    position: absolute;
    top: 10%;
    left: 100%;
    z-index: 10;
}
#img2 {
    position: absolute;
    top: 10%;
    left: 150%;
    z-index: 10;
}

#layer5 {
    position: absolute;
    bottom: 0;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: 10;
}
#layer5-2 {
    position: absolute;
    bottom: 0;
    left: 100%;
    height: 100%;
    width: 100%;
    z-index: 10;
}
#layer4 {
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: 9;
}
#layer4-2 {
    position: absolute;
    bottom: 0%;
    left: 100%;
    height: 100%;
    width: 100%;
    z-index: 9;
}
#layer3 {
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: 8;
}
#layer3-2 {
    position: absolute;
    bottom: 0%;
    left: 100%;
    height: 100%;
    width: 100%;
    z-index: 8;
}
#layer2 {
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: 7;
}
#layer2-2 {
    position: absolute;
    bottom: 0%;
    left: 100%;
    height: 100%;
    width: 100%;
    z-index: 7;
}
#layer1 {
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: 6;
}
#layer1-2 {
    position: absolute;
    bottom: 0%;
    left: 100%;
    height: 100%;
    width: 100%;
    z-index: 6;
}